@import "./_reset";
@import "./_variables";
@import "./_mixins";

.footer {
   padding-top: 66px;
   padding-bottom: 70px;
   background-color: #000000;
   text-align: center;
}

.footer__title {

   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   text-transform: uppercase;
   margin-bottom: 22px;
   color: #FEFEFE;

   @include phones {
      font-size: 14px;
      line-height: 22px;
   }
}

.footer__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: #B9B9B9;
   margin-bottom: 37px;
   // max-width: 684px;
   text-align: center;

   @include phones {
      font-size: 12px;
      line-height: 20px;
   }
}

.footer__social {
   margin-bottom: 34px;



}

.footer__social a:not(:last-child) {
   margin-right: 6px;
   display: inline-block;
}

.footer__contacts {
   font-weight: 400px;
   font-size: 16px;
   line-height: 26px;
   color: #B9B9B9;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

   a {
      text-decoration: none;
      display: inline-block;
      color: inherit;
   }

   @include phones {
      font-size: 14px;
      line-height: 24px;
      display: block;

   }

}


.footer__contacts a:not(:last-child):after {
   content: "/";
   margin-left: 10px;
   margin-right: 10px;
}