@import "./_reset";
@import "./_variables";
@import "./_mixins";
@import "./header";
@import "./main";
@import "./footer";



*,
*::after,
*::before {
   box-sizing: border-box;
}



a {
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;

}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}