body{
    font-family: 'ubuntu', sans-serif;
    background-image: url(../img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color:white;
}
input {
    outline:none;
}

.header{
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
    margin-bottom: 54px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-weight: bold;
    font-size: 22px;
}
.logo:hover{
    color: #01813F;
    transition: 0.6s;
}
.navbar{
    display: flex;
    align-items: center;
}
.header-navbar-link{
    margin: 12px 15px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.header-navbar-link:hover{
    color: #01813F;
    transition: 0.5s;
}
.header-navbar-link:hover path{
    fill: #01813F;
    transition: 0.5s;
}
.header-navbar-text{
    position: relative;
    text-decoration: none;
    color: white;
}
.header-navbar-text:before{
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    background-color: #fff;
    left: -10px;
    top: -4px;
}
.header-navbar-text a:hover{
    color: #01813F;
    transition: 0.5s;
}

/* MAIN */

.form{
    background-color: #fff;
    width: 444px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    position: relative;
}
.form-title{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}
.form-title:before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: #3CB878;
    width: 18px;
    height: 18px;
}
.form-title-text{
    /* margin-left: 60px; */
    margin-top: 30px;
    margin-bottom: 15px;
}
.form-title-link:hover{
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
}
.form-title-link{
    /* margin-right: 60px; */
    color: #3CB878;
    margin-top: 30px;
    margin-bottom: 15px;
}
/* .form-button{
    margin-bottom: 32px;
} */

.form-button button {
    color: #fff;
    border-radius: 5px;
    padding: 15px 25px 15px 70px;
    cursor: pointer;
}
  
.facebook-button {
    background: #305DB8;
    position: relative;
    width: 160px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 16px;
}
  
.facebook-button:hover {
    background: #022263;
}
  
.button-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}
  
.button-icon::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 35px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
  
.google-button {
    background: #DF4A32;
    position: relative;
    width: 160px;
    border: none;
    font-family: 'Ubuntu';
    font-size: 16px;
}
.google-button:hover{
    background: #AB1F09;
}
.decoration{
    position: relative;
}
.decoration-text{
    color: #848484;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 11px;
}
.decoration-text::before{
    content: "";
    background: #f2f2f2;
    height: 1px;
    width: 152px;
    position: absolute;
    left: 61px;
    bottom: 5px;
}
.decoration-text::after{
    content: "";
    background: #f2f2f2;
    height: 1px;
    width: 152px;
    position: absolute;
    right: 61px;
    bottom: 5px;
}
.registration-form{
    width: 286px;
    height: 46px;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: text;
    border: 1px solid #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}
::-webkit-input-placeholder {
    color: #BEBEBE;
}
.registration-form:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.check{
    position: relative;
    margin-bottom: 20px;
}
.check label{
    padding-right: 35px;
    font-size: 14px;
}
.check-box{
    position: absolute;
    top: 0;
    left: 60px;
}
.check-box-link{
    color: #3CB878;
}
.check-box-link:hover{
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
}
.create-account{
    width: 324px;
    height: 46px;
    background: #3CB878;
    border: none;
    border-radius: 4px;
    color: white;
    margin-bottom: 38px;
    cursor: pointer;
    font-family: 'Ubuntu';
    font-size: 16px;
}
.create-account:hover{
    background: #01813f ;
}

