/*COMMON STYLE*/
.wrapper{
    background-image: url(./img/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif, Roboto;
}
.container{
    max-width: 1030px;
    margin: 0 auto;
    text-align: center;
}
a{
    text-decoration: none;
}
/*HEADER STYLE*/

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    /* margin: 46px 17px; */
    margin-bottom: 35px;
    padding-top: 50px;
}
.logo-wrapper{
    display: flex;
    

}
/* .logo{ */
   
    /* background-repeat: no-repeat;
    background-size: cover;
    width: 53px;
    height: 47px;
    margin-right: 8px;
    padding-right: 8px; */
/* } */
.logo-wrapper img{
    width: 53px;
    height: 47px;
    padding-right: 8px;
}

.logo-wrapper:hover img{
    content: url(./img/logo\ 2.png);
    width: 53px;
    height: 47px;
}
.logo-wrapper:hover .slogan{
    color: #F26522;
}
.slogan{
    color: white;
    font-weight: bold;
    margin-top: 2px;
    font-size: 29px;

}
.slogan-milans{
    font-size: 29px;
}
.slogan-holiday{
    font-size: 18px;
}

.contacts{
    text-align: end;
} 
.contacts a{
    display: block;
    color: white;
    padding: 2px 0;
}
.contacts :nth-child(2){
    margin-top: 11px;
}
.contacts a:hover{
    color: #F26522;
}


.main{
    display: grid;
    padding-bottom: 50px;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 60px;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6";

}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.main-item{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.main-item-title{
    color: white;
    transition: all 0.5s;
}
.main-item-title:hover{
    color: #F26522;
}
/* .main-item-link{
    position: relative;
    overflow: hidden;
} */

.main-item-link img{
    width: 100%;

}

.main-item:hover .main-hover-wrapper{
    bottom: 0;
    opacity: 1;
}
.main-hover-wrapper{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -1000px;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #F26522;
    transition: all 0.5s;
}
.main-hover-wrapper a{
    margin: 0 37px 12px 0;
    color: #fff;
}
.main-hover-wrapper-text p{
    text-align: start;
    margin: 0 0 0px 15px;
    color: #fff;
}
.main-hover-wrapper-text p:nth-child(1){
    margin-bottom: 12px;
}
.arrow:after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin-left: 16px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}
.footer p{
    font-size: 12px;
    text-align: center;
    color: white;
    padding-bottom: 12px;
}