body{
	background: #000;
    overflow: hidden;}
.sw{
    transform: perspective(500px)
    rotateX(45deg);
        margin: 0 auto;
        width: 70%;
        height: 1100px;
        font-weight: bold;
        font-size: 45px;   
        color: #fcce00;
}
.text{
    text-align: center;
position: absolute;
animation: move 50s linear forwards infinite;
}
.text p{
    text-align: start;
}
@keyframes move {
	0% { 
		top: 90%;	 
	}
	100% { 
		top: -500%; 
	}
}
