*{
    margin:0px;
    padding:0px;
}
.container{
    width: 1280px;
    margin:0 auto;
    text-align: center;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navigation-menu{
    margin: 25px 0px;  
}
.navigation-menu-item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 35px;
    color: #FF0000;
    padding-bottom: 25px;
}
.navigation-menu-item-link{
    text-decoration: none;
    color: red;
}
.title{
    width: 100%;
    margin-bottom: 50px;
    background-size: cover;
}
.info h2{
    margin-bottom: 38px;
}
.info-text{
    margin-bottom: 28px;
    line-height: 26px;
}
.info-button{
    border: none;
    width: 191px;
    height: 51px;
    background: #FF0000;
    cursor:pointer;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    margin: 38px 0px 82px 0px;
}
.copyright-text{
    margin: 0 0 29px 600px;
    font-weight: bold;
}
