a{
    text-decoration: none;
      
}
li{
    list-style-type: none;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin: 0  auto;
    text-align: center;
}
.navigation-ramda{
    text-align: start;
}
.navigation-ramda a{
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px; 
}
.navigation-ramda span{
    color: #70c8fa;
}
.navigation-menu-item{
    background-color: #35444F;
    display: flex;
    justify-content: center;
}
.navigation-menu-item-list{
    border-left: 1px solid #fff;
    padding: 29px 30px 29px 30px; 
    color: white;
}
.navigation-menu-item-list:hover{
    background: #70c8fa;
    transition: 0.5s;
}
.navigation-menu-item-list a{
    color: white;
}
.layout{
    display: flex;
}
.aside-main{
    border: 1px solid;
    text-align: start; 
    padding-left: 0px;
    margin: 0 52px 0 0 ;
}
.main-link{
    padding: 25px 82px 25px 45px;
    width: 270px;
}
.main-link a{
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.main-link:hover{
    background: lightgrey;
    transition: 0.5s;
    text-align: center;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    
}
.main-link:hover a {
    color: #000;
  }
.media-logo{
    border: 1px solid black;
    margin-bottom: 37px;
}
.media-logo img{
    padding: 75px 253px;
}
.media-logo img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s;
}
.media-desc-text{
    font-size: 18px;
    line-height: 24px;
    text-align: start;
    padding: 0 0 34px 0;
    margin: 0 0 0 0;
}
.footer{
    display: flex;
    background: #63696E7A;
    padding: 0 40px 0 40px; 
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px; 
}
.nav-link{
    width: 928px;
    display: flex;
    justify-content: space-between;
    margin: 24px 82px 24px 40px;
    padding-left: 0;
}
.link-item{
    font-size: 24px;
    line-height: 24px; 
}
.link-item a{
    color: black;
}
.link-item:hover a{
    border-bottom: 1px solid #70c8fa;
    padding-bottom: 10px;
    color: #70c8fa;  
}
