body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1160px;
    margin: 0px auto;
    text-align: center;
}
.architect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #313131;
}
.architect-logo{
    display: flex;
}
.architect-img{
    padding: 0 27px 0 27px;
}
.architect-logo a{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.box-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 70px;
}
.box-item a{
    color: white;
}
.item-list{
    padding: 0 15px;
}
.item-list a{
    text-decoration: none;
}
.item-list:hover a{
    color: #14B9D5;
    transition: 0.5s;
}
.architect-search img{
    background: black;
    padding: 27px;
    cursor: pointer;
}
.title{
    background-image: url(./img/header-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -350px;
    padding: 164px 0 74px 0;
    box-shadow: 0 0 0 200px rgb(0 0 0 / 30%) inset;
}
.title-slogan h1{
    font-size: 27px;
    line-height: 37px;
    font-weight: bold;
    margin-bottom: 44px;
    color: white;
}
.subscribe{
    font-weight: 600;
    background: #89CA62;
    color: white;
    padding: 17px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
.articles{
    font-weight: 600;
    background: #14B9D5;
    color: white;
    padding: 17px 25px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
.blue-text{
    color: #18B4CF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 52px;
}
.gallery{
    background: #F2F2F2;
    padding-top: 50px;
}
.gallery-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 950px;  
}
.gallery-wrapper{
    width: 370px;
    display: flex;
    flex-direction: column;  
}
.gallery-wrapper p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    background-color: #fff;
    padding: 22px 16px;
    margin-bottom: 30px;
}
.clients{
    background-image: url(./img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
    box-shadow: 0 0 0 500px rgb(0 0 0 / 25%) inset;
    margin-bottom: 50px;  
}

.clients-wrapper{
    display: grid;
    justify-content: center;
    padding-bottom: 191px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "our our our our"
    "nat dry hou jou";  
}
.wrapper-text::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 86px;
    height: 3px;
    width: 60px;
    background: #14B9D5;
}
  .clients-wrapper h2{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding: 106px 0px 90px 0px;
    grid-area: our;
}
.img1{
    grid-area: nat;
}
.img2{
    grid-area: dry;
}
.img3{
    grid-area: hou;
}
.img4{
    grid-area: jou;
}
.reated{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "text text text text text text text"
    "kids kids2 kids3 pool horse bill stad";  
}
.reated-place img{
    width: 100%;
}
.text{
    grid-area: text;
}
.kids{
    grid-area: kids;
}
.kids2{
    grid-area: kids2;
}
.kids3{
    grid-area: kids3;
}
.pool{
    grid-area: pool;
}
.horse{
    grid-area: horse;
}
.bill{
    grid-area: bill;
}
.stad{
    grid-area: stad;
}
.news{
    display: grid;
    gap: 30px;
    margin-bottom: 77px;
    grid-template-columns: repeat(4, 1fr );
    grid-template-areas: 
    "news-slogan news-slogan news-slogan news-slogan"
    "post-1 post-1 post-1 post-2"
    "post-3 post-3 post-4 post-4"
    "post-5 post-5 post-6 post-6"
    "post-7 post-8 post-8 post-8";
}
.news-slogan{
    grid-area: news-slogan;
}
.post-1{
    grid-area: post-1;
}
.post-2{
    grid-area: post-2;
}
.post-3{
    grid-area: post-3;
}
.post-4{
    grid-area: post-4;
}
.post-5{
    grid-area: post-5;
}
.post-6{
    grid-area: post-6;
}
.post-7{
    grid-area: post-7;
}
.post-8{
    grid-area: post-8;
} 
.block-text{
    background-color: #F9F7F7;
}
.block-text h2{
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 27px 15px 0;;
}
.block-text p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-right: 15px;
}
.rows{
    display: flex;
    text-align: end;
    height: 260px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 270px;
}
.column h2 {
    padding: 15px 0;
}
.column-end {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 555px;
}
.footer{
    background-color: black;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "copy copy copy img lioit";
    padding: 15px;
    align-items: center;
}
.copy{
    grid-area: copy;
    color: white;
    text-align: start;
}
.img{
    grid-area: img;
}
.lioit{
    grid-area: lioit;
    text-align: end;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}  
.lioit{
    color: white;
}